body {
	background-image: url('styles/img1.jpg');
	background-size: cover;
	overflow: hidden;
}

.flex-container {
	position: relative;
	top: 5%;
	left: 30%;
	display: flex;
	visibility: hidden;
	flex-flow: row wrap;
	border: 1px solid gold;
	width: 1050px;
	height: 1050px;
	padding: 10px 10px;
	justify-content: center;
	align-items: center;
	animation: show 3s 1 forwards;
	animation-delay: 3s;
}

#title {
	position: relative;
	top: 5%;
	text-align: center;
	color: white;
	font-family: "Fantasy", Papyrus;
	font-size: 60px;
	animation: change-font-size 3s 1;
}

.flashcards {
  	display: flex;
	position: relative;
	margin: 10px;
	padding: 10px;
	font-size: 32px;
	font-family: "Lucida Bright", serif;
	width: 300px;
	height: 300px;
	background-color: blue;
	border-radius: 5%;
	color: white;
	justify-content: center;
    align-items: center;
}

.flashcard1, .flashcard2, .flashcard3, .flashcard4, .flashcard5, .flashcard6, .flashcard7, .flashcard8, .flashcard9 {
	float: left;
	position: relative;
	text-align: center;
	transition: transform 1.5s;
	transform-style: preserve-3d;
}

.flashcard4, .flashcard7 {
	clear: left;
}

@keyframes change-font-size {
	from {
		font-size: 0;
	}
	to {
		font-size: 60px;
	}
}

@keyframes show {
	from {
		top: 100%;
		visibility: visible;
	}
	to {
		top: 5%;
		visibility: visible;
		transform: rotate(360deg);
	}
}

.front, .back {
	position: absolute;
	backface-visibility: hidden;
}

.back {
	transform: rotateY(180deg);
}

.flashcards:hover {
	cursor: pointer;
	transform: rotateY(180deg);
}