body {
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  height: 5%;
  align-items: center;
  border-bottom: solid black 2px;
  box-sizing: border-box;
  padding: 1em;
}

#nav-brand {
  width: 50%;
  font-weight: bold;
}

nav {
  display: flex;
  width: 50%;
  justify-content: right;
  align-items: center;
}

#nav-features, #nav-enterprice, #nav-support, #nav-pricing {
	font-weight: bold;
	padding-right: 3em;
}

main {
  display: flex column;
  width: 100%;
  height: 90%;
  justify-content: center;
  align-items: center;
}

main > h1 {
 width: 28%;
 font-size: 4em;
 font-family: sans-serif;
 text-align: center;
}

main > p {
 width: 28%;
 line-height: 1.3;
 font-family: Arial;
 font-size: 1.3em;
 text-align: center;
}

footer {
  display: flex;
  width: 100%;
  height: 5%;
  align-items: center;
  border-top: solid black 2px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
}

#foot-brand, #foot-features, #foot-enterprice, #foot-support, #foot-pricing {
	font-weight: bold;
}